header.header
    nav.nav.nav--tours
        a.nav__el(href='/newCars') All Cars
    .header__logo
        a(href="/")
            //- img(src='/img/logo-white.png' alt='logo')
    nav.nav.nav--user
        //- Show user btns instaed of Login and Logout, From authController: protect MW
        - if (user || isOverviewPage)   
            //- a.nav__el.nav__el--logout(href='/login') Log out
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me')
                //- img.nav__user-img(src=`/img/defaultUser.jpg` alt=`Photo of user`)
                //- span= user.name.split(' ')[0]
        - else
            - if (title === "Login")
            //- a.nav__el(href='/auth/login') Log in
            a.nav__el.nav__el--cta(href='/auth/signup') Sign up


.filter-btns
    //- ================    Budget      ================
    .dropdown
        button.dropbtn Budget 
        .dropdown-content
            a(href="/newCars?price[gte]=0&price[lte]=10") 0-10L   
            a(href="/newCars?price[gte]=10&price[lte]=20") 10-20L
            a(href="/newCars?price[gte]=20&price[lte]=30") 20-30L
            a(href="/newCars?price[gte]=30&price[lte]=40") 30-40L
            a(href="/newCars?price[gte]=50") Above 50L


    //- =============   Sort By    ================
    .dropdown
        button.dropbtn Sort By 
        .dropdown-content
            a(href="/newCars?sort=price") Price
            a(href="/newCars?sort=rating") Rating
            a(href="/newCars?sort=mileage") Mileage
            a(href="/newCars?sort=engine") Power
            a(href="/newCars?sort=seatingCapacity") Capacity

//- .search__cars
//-     a.btn.btn--green.btn--small(href='/newCars/top-rated') Top Rated Cars
//-     a.btn.btn--green.btn--small(href='/newCars/top-efficient') Top Efficient Cars
//-     a.btn.btn--green.btn--small(href='/newCars/top-powerful') Top Powerful Cars

//- =================       Pagination     =================
//- - url = url + "/newCars"   
//- - if (!hasQueryString) url = url + "?"
.search__cars
    a.btn.btn--green.btn--small(href=`${paginateURL}page=1`)= 1    
    a.btn.btn--green.btn--small(href=`${paginateURL}page=2`)= 2    
    //- a.btn.btn--green.btn--small(href=`newCars?price[gte]=0&price[lte]=10&page=1&limit=9`) 1
    //- a.btn.btn--green.btn--small(href=`/newCars?page=2&limit=9`)= 2 
    a.btn.btn--green.btn--small(href=`${paginateURL}page=3`) 3
    a.btn.btn--green.btn--small(href=`${paginateURL}page=4`) 4
    a.btn.btn--green.btn--small(href=`/newCars?page=5&limit=9`) 5



//- price, cc, mileage, capacity, rating

   
          

   